body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

header{
background:#0a2540;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:100px;
text-align:center;
}

button{
background:#0077ff;
color:white;
border:none;
padding:12px 20px;
cursor:pointer;
}

button:hover{
background:#0055cc;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
.logo{
font-size:28px;
font-weight:bold;
}

.hero{
background:#0077ff;
color:white;
padding:120px 20px;
text-align:center;
}

.servicios{
padding:60px;
text-align:center;
}

.contenedor-servicios{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.servicio{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
