body{
margin:0;
font-family:Arial, sans-serif;
background:#f4f4f4;
}

/* HEADER */

header{
background:#0a2540;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

/* HERO */

.hero{
background:#0077ff;
color:white;
padding:120px 20px;
text-align:center;
}

.hero h2{
font-size:40px;
}

/* SERVICIOS */

.servicios{
padding:60px;
text-align:center;
}

.contenedor-servicios{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.servicio{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* CONTACTO */

.contacto{
padding:60px;
text-align:center;
}

form{
max-width:400px;
margin:auto;
}

input, textarea{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}

/* BOTON */

button{
background:#0077ff;
color:white;
border:none;
padding:12px 20px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0055cc;
}

/* FOOTER */

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

/* WHATSAPP */

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50px;
text-decoration:none;
}
/* PROYECTOS */

.proyectos{
padding:80px 20px;
text-align:center;
}

.contenedor-proyectos{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.proyecto{
background:#1e293b;
padding:25px;
border-radius:12px;
width:280px;
transition:transform 0.3s;
}

.proyecto:hover{
transform:translateY(-8px);
}

/* RESPONSIVE CELULAR */

@media (max-width:768px){

.hero{
padding:120px 20px;
}

.hero h2{
font-size:28px;
}

.contenedor-servicios{
flex-direction:column;
align-items:center;
}

.contenedor-proyectos{
flex-direction:column;
align-items:center;
}

.servicio,
.proyecto{
width:90%;
}

nav{
display:flex;
flex-direction:column;
gap:10px;
}

}
