body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}

header{
background:#0a2540;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:100px;
text-align:center;
}

button{
background:#0077ff;
color:white;
border:none;
padding:12px 20px;
cursor:pointer;
}

button:hover{
background:#0055cc;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
